/* CSS files add styling rules to your content */

body {
  background-color: #e1ecf5;
  font-family: 'Montserrat', sans-serif;
  margin: 2em;
  perspective: none;
}

h1 {
  font-style: italic;
  font-size: 50px;
  
  background-image: linear-gradient(
    45deg, #274e13 , #38761d, #6aa84f, #93c47d, #93c47d, #6aa84f, #38761d, #274e13
  );


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

h3 {
  font-family: 'Esteban', serif;

}

.text {
  font-style: italic;
}

p {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
  margin: 50;
  padding: 0;
  width: 200px;
  text-color: #ffffff;
  background-color: #6aa84f;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

/* nav bar */
.sidenav {
  height: 100%; /* full height */
  width: 0;
  position: fixed; /* makes it stay in place*/
  z-index: 1; /*makes it stay on top */
  top: 0; /*makes it stay at top */
  left: 0;
  background-color: #111;
  overflow-x: hidden; /*disables horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 32px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* for smaller screens*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  text-align: center;
}

#nutrifyTitle {
  font-size: 130px;
}
